name: PR Workflow

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    name: Build and Test (${{ matrix.os }})

    env:
      NX_CI_EXECUTION_ENV: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Setup PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Print Task Graph
        run: npx nx run-many -t build test e2e --graph stdout

      - name: Run tests
        run: npx nx run-many -t build test e2e

      - run: npx nx fix-ci
        if: always() && matrix.os == 'ubuntu-latest'
